
main{
    display: grid;
}

@media(min-width: 600px){
    
    main{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .info1{
        grid-column: span 2;
        grid-row: span 2;
    }

    .info2{
        grid-column: span 2;
    }

    .figure1{
        grid-column: span 3;
        grid-row: span 2;
    }

    .figure6{
        grid-column: span 2;
    }

    .figure7{
        grid-column: span 3;
    }

    .coconut-img{
        height:100%;
    }

}

body{
    /* max-width: 160px;
    margin: 0 auto; */
    font-family: 'Raleway', sans-serif;
}

.coconut-img{
    display: block;
    width: 100%;
    object-fit:cover;
}

.info1, .info2{
    padding: 40px;
    background-color: #292727;
    color:#fff;
}